@model App.PhoneBook.WebUILayer.Models.EmployeeUpdateViewModel

@{
    Layout = "~/Views/_AdminLayout.cshtml";
}

<div class="container">


    <h2>Update a employee</h2>

    <form asp-controller="Admin" asp-action="UpdateEmployee" method="post">

        <div class="form-group">
            <label>First Name</label>
            <input asp-for="Employee.FirstName" class="form-control" placeholder="First Name" />
            <span asp-validation-for="Employee.FirstName"></span>
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input asp-for="Employee.LastName" class="form-control" placeholder="Last Name" />
            <span asp-validation-for="Employee.LastName"></span>
        </div>

        <div class="form-group">
            <label>Phone Number</label>
            <input asp-for="Employee.PhoneNumber" class="form-control" placeholder="PhoneNumber" />
            <span asp-validation-for="Employee.PhoneNumber"></span>
        </div>

        <div class="form-group">
            <label>Department</label>
            <select asp-for="Employee.DepartmentId" class="form-control" asp-items=@Model.Departments></select>
        </div>


        <div class="form-group">
            <label>Manager</label>
            <select asp-for="Employee.ParentEmployeeId" class="form-control" asp-items=@Model.Employees></select>
        </div>

        <input type="hidden" asp-for="Employee.EmployeeId"/>

        <input type="submit" value="Add" class="btn btn-xs btn-success" />

    </form>


</div>