<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" >Phone Numbers Project</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/employee">Phone Numbers List<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav my-2 my-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="/account">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        @{if (TempData["no-cat"] == null)
            {
                <div class="col-2" style="padding-left:45px;">
                    <br /> <br /><br />
                    @await Component.InvokeAsync("DepartmentList")
                </div>
            }
        }
        <div class="col-10">
            @RenderBody()
        </div>
    </div>
    <div class="row" style="margin-right:150px" >
        <div class="col-12">
            <footer class="page-footer font-small blue" style="position: relative; bottom:0px; height: 40px;">
                <div class="footer-copyright text-center py-3">
                    © 2019 Copyright:
                    <a target="_blank" href="https://github.com/okanvk"> Github/okanvk</a>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
